@import url('https://fonts.googleapis.com/css?family=Space+Mono');

html, body {
  height: 100%;
}

body {
  font-family: 'Space Mono', monospace;
  background: DeepSkyBlue	;
  color: white;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}