.u-flow
  header
    .u-flow
      h1 Jonathan Hudak
      p Born 1984 in Tacoma, Washington USA
      ul.ul
        li
          a(href='https://www.instagram.com/hudak_doodles/') Artist  🖼
        li
          | Musician 🎸
          a(title='Mystical Synth Pop from 2010-2011' href='https://tumbledry.bandcamp.com/music') >🎹
          |  🎤 🎧
        li
          | Coder of Web 💻
          a(href='https://hudak.codes') hudak.codes
          |  💾
          a(href='https://github.com/jonathanhudak') github
  main
    .u-flow
      details
        summary
          | 2022
        ul.ul
          li
            | Alive and well on Bainbridge Island, Wa.
          li
            | Senior Frontend Engineer at Amazon Web Services
          li
            | Learning techniques of japanese joinery, and wood carving.
          li
            | Creating art and music and not sharing it much.
          li
            | Playing nostalgic 90&apos;s rock songs on my old acoustic guitar while my son Theodore builds with lego bricks.
      details
        summary
          | 2020
        details
          summary Move to Bainbridge
          p
            | During Covid times, Seattle got to be a drag so we moved across the Puget Sound to Bainbridge Island. My only complaint about living on the island is the limited array of restaurants. Otherwise it has been beautiful and quiet. We have been able to explore the Olympic Penninsula and enjoy more of my home State.
  footer.footer
    .u-flow
      p
        | Jonathan Hudak &copy; 2023